@{
    ViewData["Title"] = "TwoFactorAuth";
}
@model AuthenticatorViewModel
<h1>Two Factor Authentication</h1>


<div class="row">
    <div class="col-md-12">
        <form asp-action="TwoFactorAuth" method="post">
            <div class="form-group">
                <label asp-for="TwoFactorType"></label>
                <select class="form-control" asp-for="TwoFactorType" asp-items="Html.GetEnumSelectList<TwoFactor>()"></select>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Guncelle" class="btn btn-success" />
            </div>
        </form>
    </div>

    @if (ViewBag.warning != null)
    {
        <div class="col-md-12">

            <div class="alert alert-warning">
                @ViewBag.warning
            </div>
        </div>
    }

    @if (TempData["message"] != null)
    {
        <div class="col-md-12 mt-2">
            <div class="alert alert-info">
                @TempData["message"]
            </div>
        </div>
    }

    @if(TempData["recoveryCodes"] != null)
    {
       <div class="col-md-12">
           <div class="alert alert-info">
Ashagidaki kodlari guvenli bir yerde saklayiniz. Microservice/ Google Authenticator uygulamasini kullanamadiginiz durumlarda bu kurtarma kodlarini kullanabilirsiniz
           </div>
           <div class="alert alert-secondary">
                @foreach(var item in TempData["recoveryCodes"] as string[])
                {
                    <strong>@item</strong>
                }
           </div>
       </div> 
    }

</div>

